<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
     <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">

    <title>ประกาศผลการคัดเลือกสต๊าฟกิจกรรมลูกเสือ | ชุมนุมลูกเสือ</title>
     <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
    <script src="js/script.js"></script>
    <script src="js/sweetalert.min.js"></script>
    <script src="js/superplaceholder.js"></script>

    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/sweetalert.css">
     <link rel="stylesheet" href="css/style.css">
     <link rel="stylesheet" href="css/icon.css">

     <link rel="shortcut icon" type="image/png" href="img/favicon.png"/>
     <link rel='shortcut icon' type='image/x-icon' href="img/favicon.ico" />

    <meta property="article:author" content="https://www.facebook.com/fishsix.easy/"/>
    <meta property="og:image" content="img/og.jpg"/>
    <meta property="og:site_name" content=" ชุมนุมลูกเสือ สวนกุหลาบวิทยาลัย นนทบุรี"/>
    <meta property="og:type" content="website"/>
    <meta property="og:title" content="ประกาศผลการคัดเลือกสต๊าฟกิจกรรมลูกเสือ"/>
    <meta property="og:description" content="ประกาศผลการคัดเลือกสต๊าฟกิจกรรมลูกเสือ | ชุมนุมลูกเสือ โรงเรียนสวนกุหลาบวิทยาลัย นนทบุรี"/>
    <meta property="og:url" content="http://skn.press/scoutclub/selection"/>

    <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-75876879-1', 'auto');
  ga('send', 'pageview');
</script>


  </head>
  <body ng-app="ScoutSelection">

  <div class="back-arrow"><a href="http://skn.press/scoutclub" class="back"><span class="ion-ios-arrow-left"></span> กลับหน้าหลัก</a></div>
    <div ng-controller="SelectionContoller" class="application">

        <span class="scout-logo"></span>
        <h1>ประกาศผลการคัดเลือก</h1>
        <h2>สต๊าฟกิจกรรมลูกเสือ ฐานกิจกรรมลูกเสือ</h2>

        <input class="id-enter" type="text" placeholder="เลขประจำตัวนักเรียน" maxlength="5" ng-model="StudentID"></input>
        <div class="responsive-button">
        <button ng-if="StudentID > 10000" class="enter-button" ng-click="check(StudentID)">ตรวจสอบ</button>
      </div>
        <h4>กรอกเลขประจำตัวนักเรียนที่ได้ระบุในใบสมัคร</h4>
        <div class="status" >
      <div ng-if="StudentID.length != 0">
        <h4 class="right-id" ng-if="StudentID > 10000">เลขประจำตัวของท่านคือ <span class="right">{{StudentID}} <span class="ion-ios-checkmark"></span></span></h4>
        <h4 class="wrong" ng-if="StudentID.length < 5 ">เลขประจำตัวไม่ถูกต้อง</h4>
      </div>
    </div>

  </div>

  <footer><p>ร่วมพัฒนาระบบโดย ชุมนุมคอมพิวเตอร์โอลิมปิก x ชุมนุมลูกเสือ</p></footer>

<script>
  superplaceholder({
      el: document.querySelector('input'),
      sentences: [ 'กรอกเลขประจำตัว 5 หลัก','สามารถกรอกได้เลย','กรอกเลขประจำตัวที่นี่']
  });
</script>

  </body>


</html>
