<!DOCTYPE html>
<html ng-app>
  <head>
    <meta charset="utf-8">
     <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">

    <title>ประกาศผลการคัดเลือกสต๊าฟกิจกรรมลูกเสือ | ชุมนุมลูกเสือ</title>
     <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
      <script src="js/script.js"></script>
    <link rel="stylesheet" href="css/reset.css">
     <link rel="stylesheet" href="css/style.css">
     <link rel="stylesheet" href="css/icon.css">
  </head>
  <body>
  <div class="back-arrow"><a href="http://skn.press/scoutclub" class="back"><span class="ion-ios-arrow-left"></span> กลับหน้าหลัก</a></div>
    <div class="application">

        <span class="scout-logo"></span>
        <h1>ประกาศผลการคัดเลือก</h1>
        <h2>สต๊าฟกิจกรรมลูกเสือ ฐานกิจกรรมลูกเสือ</h2>

        <input class="id-enter" type="text" placeholder="กรุณากรอกเลขประจำตัว" ng-model="id"></input><button class="enter-button" ng-click="">ตรวจสอบ</button>

        <h4>กรอกเลขประจำตัวนักเรียนที่ได้ระบุในใบสมัคร</h4>



  </div>
  </body>


</html>
